.wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  height: 350px;
  margin-bottom: 50px;
}
/* bilo 750px */
@media screen and (max-width: 826px) {
  .wrapper {
    height: 700px;
  }
}
@media screen and (max-width: 556px) {
  .wrapper {
    height: 1100px;
  }
}
